<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>iLife&Colour</title>

    <!-- Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CookieConsent -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body>
    <header>
        <h1>The iLife&Colour Site</h1>
    </header>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="iLifeColour">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">iLife&Colour</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsILifeColour" aria-controls="navbarsILifeColour" aria-expanded="false" aria-label="iLifeColour">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsILifeColour">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/instants">Instants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>        
            </div><!-- #collapse navbar-collapse -->
            
        </div><!-- #container-fluid -->
    </nav>

    <section>
        <% if (messages.info) { %>
            <article id='flashinfo'>
                <h3>Information of interest:</h3>
                <ul>
                    <% for (var i in messages.info) { %>
                        <li> <%= messages.info[i] %> </li>
                    <% } %>
                </ul>
            </article>
        <% } %>

        <% if (messages.success) { %>
            <article id='flashsuccess'>
                <h3>Tasks completed successfully:</h3>
                <ul>
                    <% for (var i in messages.success) { %>
                        <li> <%= messages.success[i] %> </li>
                    <% } %>
                </ul>
            </article>
        <% } %>

        <% if (messages.error) { %>
            <article id='flasherror'>
                <h3>Errors:</h3>
                <ul>
                    <% for (var i in messages.error) { %>
                        <li> <%= messages.error[i] %> </li>
                    <% } %>
                </ul>
            </article>
        <% } %>
        <div>
            <%- body %>

            <% if (locals.paginate_control) { %>
                <%- paginate_control %>
            <% } %>
        </div>
    </section>

    <footer>
        <h6>(c) XugarEn, 2021</h6>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/javascripts/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Cookie Consent -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#252e39"
                },
                "button": {
                    "background": "#14a7d0"
                }
            }
        });
    </script>
</body>
</html>