
<div class="right">
    <small> (by <%= instant.author ? instant.author.displayName : "Anonymous" %>) </small>
</div>

<h1>
    Show Instant:
</h1>

<div class="instantItem">

    <div>
        <% var attachment = instant.attachment; %>
        <% include ../attachments/_show.ejs %>
    </div>

    <div>
        <% include ../favourites/_stars.ejs %>
        <br/>
        Title: <b><%= instant.title %></b>
        <br/>
        Description: <b><%= instant.description %></b>
    </div>

    <div>
        <% if (instant.author && instant.author.photo) { %>
            <img class="miniphoto" src="<%= instant.author.photo.url %>"/>
        <% } else { %>
            <img class="miniphoto" src="/images/face.png"/>
        <% } %>
        <br/>
        <small> <%= instant.author ? instant.author.displayName : "Anonymous" %> </small>
    </div>

</div>

<a href="/goback" class="button">Go back</a>